:root {
  --background-white: #ffffff;
  --text-gray: #2c2c2c;
  --hover-orange: #f07f2e;
  --footer-green: #0f3f3c;
}

body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 960px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--background-white);
}
.site-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: var(--hover-orange);
  text-decoration: none;
}
.page-nav {
  display: flex;
  gap: 40px;
}
.page-nav a {
  text-decoration: none;
  color: var(--text-gray);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.page-nav a:hover {
  color: var(--hover-orange);
}

.hero {
  position: relative;
  height: 480px;
  background-color: var(--hover-orange);
  border-radius: 16px;
  background-image: url(./img/picture\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 60px;
}

.greeting {
  position: absolute;
  left: 28px;
  bottom: 52px;
  padding: 24px;
  background: var(--footer-green);
  border-radius: 16px;
  width: 432px;
}

.greeting h1 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.25px;
  color: var(--background-white);
  margin-bottom: 8px;
}

.greeting p {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--background-white);
}

.section {
  margin-bottom: 60px;
}
.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: var(--text-gray);
}
.cat-list {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.cat-list li {
  overflow: hidden;
  border-radius: 16px;
}

.cat-list li:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.cat-list .content {
  padding: 16px 8px;
}
.cat-list h3 {
  margin-bottom: 8px;
}
.cat-list p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--text-gray);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}
.gallery li {
  flex-basis: calc((100% - 5 * 16px) / 6);
  border-radius: 16px;
  overflow: hidden;
}
.section-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--text-gray);
  margin-top: 8px;
}
.gallery li:hover {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

.page-footer {
  margin-top: 68px;
  background-color: var(--footer-green);
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-text {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--background-white);
}

.social-links {
  display: flex;
  gap: 8px;
}

.social-links svg {
  width: 16px;
  height: 16px;
  fill: var(--background-white);
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.social-links a:hover {
  background-color: var(--background-white);
}

.social-links a:hover svg {
  fill: var(--hover-orange);
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-text {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--background-white);
  text-align: right;
}
